<a href="https://colab.research.google.com/github/MaCroDmT/ARTIFICIAL-INTELLIGENCE-AND-EXPERT-SYSTEM/blob/main/I_21_45640_3_Week_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your section and ID at the beigining of the file name. <b>Example: F_20-45961-3_Week 01.ipynb</b></p>
<p> 3. Other file format (except .pynb) will not be accepted.</p>

# User Input

In [ ]:
a = 99
print(a)

99

In [ ]:
a = input()
print(a)

89
89

In [ ]:
a = input('Enter a value: ') # always returns string
print('The given value is '+ a)
print(type(a))

Enter a value: prottoy
The given value is prottoy
<class 'str'>

In [ ]:
a = int(input('Enter a number: ')) # returns string but converted to int
print('The result is', a+11)
print(type(a))

Enter a number: 15
The result is 26
<class 'int'>

In [ ]:
while True:
  a = input('Enter your Birth Year:')
  if a.isdigit():
    print('You are ' + str(2022-int(a)) + ' years old')
    print(2023-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year:2002
You are 20 years old
21

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [ ]:
# indent
i = 5
if i < 10: # () not required, {} not required
  print('hello')
  print('fine')
else:
  print('bad')
print('not okay') # will be executed in each run

hello
fine
not okay

In [ ]:
x = float(input("Please enter an float: "))
if x < 0.0:
    x = 0.0
    print('Negative changed to zero')
elif x == 0.0:
    print('Zero')
elif x == 1.0:
    print('Single')
else:
  print('It contains more values')

Please enter an float: 14.55
It contains more values

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [ ]:
# code here
x=int(input("please enter your marks"))
if x<50:
    print('F')
elif x>=50 and x<60:
    print('D')
elif x>=60 and x<=65:
    print('D+')
elif x>=65 and x<=70:
    print('C')
elif x>=70 and x<=75:
    print('C+')
elif x>=75 and x<=80:
    print('B')
elif x>=80 and x<=85:
    print('B+')
elif x>=85 and x<=90:
    print('A')
else:
    print('A+')

please enter your marks88
A

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [ ]:
# Measure some strings:
words = ['cat', 'window', 'dhaka','ctg']

for a in words:
    print('the word is:',a)

the word is: cat
the word is: window
the word is: dhaka
the word is: ctg

In [ ]:
words = ['cat', 'window', 'dhaka','ctg']
for b in range(len(words)):
    print('the word is:',words[b])

the word is: cat
the word is: window
the word is: dhaka
the word is: ctg

In [ ]:
list(range(5,50))

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
numbers = [10, 54, 88, 80,78]

for n in numbers:
    print(n+10)

20
64
98
90
88

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for i in range(0,10,2):
    print(i)

0
2
4
6
8

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [ ]:
list(range(2, 20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(0, 70, 7))

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63]

In [ ]:
list(range(50, 5, -5))

[50, 45, 40, 35, 30, 25, 20, 15, 10]

In [ ]:
list(range(-10, -150, -5))

[-10,
 -15,
 -20,
 -25,
 -30,
 -35,
 -40,
 -45,
 -50,
 -55,
 -60,
 -65,
 -70,
 -75,
 -80,
 -85,
 -90,
 -95,
 -100,
 -105,
 -110,
 -115,
 -120,
 -125,
 -130,
 -135,
 -140,
 -145]

In [ ]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 10
1 54
2 88
3 80
4 78

In [ ]:
for i in range(2,10,2):
    print(i,end=',')

2,4,6,8,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [ ]:
# code here
for i in range(0,101,2):
  print(i, end=',')

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [ ]:
country = "bangladesh"
for c in country:
    print(c,end='  ')

b  a  n  g  l  a  d  e  s  h

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [ ]:
def operate(a, b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

In [ ]:
operate(85,5)

85 + 5 = 90
85 - 5 = 80
85 x 5 = 425
85 / 5 = 17.0

In [ ]:
operate(101.2,2)

101.2 + 2 = 103.2
101.2 - 2 = 99.2
101.2 x 2 = 202.4
101.2 / 2 = 50.6

In [ ]:
def fib(n):    # write Fibonacci series up to n
    lst = [0,1]
    a, b = 0, 1
    while True:
        #print(a, end=' ')
        a, b = b, a+b
        if b < n:
          lst.append(b)
        else:
          break
        #print()
    return lst

In [ ]:
# Now call the function we just defined:
r = fib(10)
print(r)

[0, 1, 1, 2, 3, 5, 8]

In [ ]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [ ]:
addnumbers([5],[10])

[5, 10]

In [ ]:
y = addnumbers('8ppp58', '90') # use or call method
print(y)

8ppp5890

In [ ]:
addnumbers([33,77], [66])

[33, 77, 66]

In [ ]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum+ n
    return sum

In [ ]:
addValues(list (range(10, 50, 5)))

220

In [ ]:
addValues([50])

50

In [ ]:
v = [5,10,15,20]
addValues(v)

50

In [ ]:
v = [1,2,10,11,12, 15,18, 70, 50, 14,12, 7]
addValues(v)

222

In [ ]:
# method/function
def multiTable(n, r=20):
    for i in range(1,r+3):
        print("{}x{}={}".format(n,i,n*i))

In [ ]:
multiTable(2)

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
2x11=22
2x12=24
2x13=26
2x14=28
2x15=30
2x16=32
2x17=34
2x18=36
2x19=38
2x20=40
2x21=42
2x22=44

In [ ]:
multiTable(15)

15x1=15
15x2=30
15x3=45
15x4=60
15x5=75
15x6=90
15x7=105
15x8=120
15x9=135
15x10=150
15x11=165
15x12=180
15x13=195
15x14=210
15x15=225
15x16=240
15x17=255
15x18=270
15x19=285
15x20=300
15x21=315
15x22=330

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [ ]:
# code here
def sum_lists(list1, list2):
    return [x + y for x, y in zip(list1, list2)]
list1 = [3,4,5,1]
list2 = [6,7,2,8]
result = sum_lists(list1, list2)
print(result)

[9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [ ]:
# code here
def extract_name(full_name):
    return full_name.split(maxsplit=1)
full_name = input("Enter your full name: ")
first_name, last_name = extract_name(full_name)
print("First name:", first_name)
print("Last name:", last_name)

Enter your full name: prottoy saha
First name: prottoy
Last name: saha

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [ ]:
# code here
animals = 'DOLPHIN & TIGER'

print(f'My Ship is full of {animals}.')

table = {'PROTTOY': 1745547575, 'RAFSAN': 19458787, 'RAKIB': 16547678}

for name, phone in table.items():

    print(f'{name:10} ==> {phone:10d}')

My Ship is full of DOLPHIN & TIGER.
PROTTOY    ==> 1745547575
RAFSAN     ==>   19458787
RAKIB      ==>   16547678